@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <th scope="row">@x.StaffID</th>
                <td>@x.FullName</td>
                <td>@x.Title</td>
                <td><a href="/Staff/DeleteStaff/@x.StaffID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Staff/UpdateStaff/@x.StaffID" class="btn btn-warning">Yenile</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Staff/AddStaff/" class="btn btn-primary">Isci elave et</a>

