
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h3>+Hey bro, say poxi poxi</h3>
<h3>-Pox nedi qaqa.</h3>
<h3>+Say poxi poxi</h3>
<h3>-Bildiyimiz pox?</h3>
<h3>+Just say poxi poxi</h3>
<h3>-E di pox nedi dene</h3>
<h3>+Okey bro</h3>

