@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="StaffID"/>
    <label>Isci adi</label>
    <input type="text" asp-for="FullName" class="form-control" />
    <br />

    <label>Vezifesi</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Sosial Media 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <br />

    <label>Sosial Media 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <br />

    <label>Sosial Media 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />

    <button class="btn btn-success" type="submit">Tesdiqle</button>
</form>
