<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fas fa-user-friends menu-icon"></i><span class="nav-text">Isciler</span>
                </a>
            </li>
        </ul>
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fas fa-user-alt menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
        </ul>
    </div>
</div>